AUTH_USERNAME=COCONUTADMIN
AUTH_PASSWORD=jf93oajd8e
AUTH_ACCESS_CODE=39837
AUTH_SESSION_SECRET=cocococococococococococococococococococococococococococococococococococococococococococococococococococococonut2026!
